flows.json
[
    {
        "id": "ba8902ff.b6359",
        "type": "tab",
        "label": "Bedroom Lights",
        "disabled": false,
        "info": ""
    },
    {
        "id": "79fa72c5.6e4ccc",
        "type": "tab",
        "label": "Living Room",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5d61e676.b8f7c8",
        "type": "tab",
        "label": "Hallway",
        "disabled": false,
        "info": ""
    },
    {
        "id": "52a854ab.b0524c",
        "type": "subflow",
        "name": "Store Bedroom Brightness",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1040,
                "y": 180,
                "wires": [
                    {
                        "id": "4abb3438.4febbc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "940272e0.e7353",
        "type": "subflow",
        "name": "Handle Hue Remote",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 360,
                "wires": [
                    {
                        "id": "195dd0fa.1fa76f"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "eddddd53.6ebb3",
        "type": "subflow",
        "name": "TV Power State",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 640,
                "y": 80,
                "wires": [
                    {
                        "id": "81069164.afd01",
                        "port": 0
                    }
                ]
            },
            {
                "x": 640,
                "y": 140,
                "wires": [
                    {
                        "id": "8b8fa6fd.5c6878",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "outputLabels": [
            "TV turned off",
            "TV turned on"
        ]
    },
    {
        "id": "26e3222a.ef8a1e",
        "type": "subflow",
        "name": "Reset Dummy Triggers",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "41dc8be3.68fa24",
        "type": "subflow",
        "name": "Zigbee Event",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 500,
                "y": 60,
                "wires": [
                    {
                        "id": "4cafea0f.2adc04",
                        "port": 0
                    }
                ]
            },
            {
                "x": 500,
                "y": 100,
                "wires": [
                    {
                        "id": "4cafea0f.2adc04",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "outputLabels": [
            "Hue Remote",
            "SmartThings Button"
        ]
    },
    {
        "id": "627ae423.cdc09c",
        "type": "subflow",
        "name": "Set Good Night",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 280,
                "y": 180,
                "wires": [
                    {
                        "id": "80bb5cec.59a9"
                    },
                    {
                        "id": "15002ff0.6ecc9"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "d172023.57b02",
        "type": "subflow",
        "name": "Set Bedtime",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 320,
                "y": 160,
                "wires": [
                    {
                        "id": "fa2b0ad0.4329e8"
                    },
                    {
                        "id": "9f22c9b1.175368"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "e57f4074.d8fa3",
        "type": "subflow",
        "name": "Set Arrive Home",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 340,
                "y": 180,
                "wires": [
                    {
                        "id": "43ba5ccf.3fc274"
                    },
                    {
                        "id": "75645783.947148"
                    },
                    {
                        "id": "519fa747.834e78"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "72c4b6a2.30e0a8",
        "type": "subflow",
        "name": "Handle SmartThings Button",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 20,
                "y": 100,
                "wires": [
                    {
                        "id": "2030783c.ef0758"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "90423b4c.f76568",
        "type": "group",
        "z": "ba8902ff.b6359",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5e4d6a8e.d62114",
            "11cc4bc0.752e84",
            "e1916eea.6ed24"
        ],
        "x": 1234,
        "y": 119,
        "w": 212,
        "h": 162
    },
    {
        "id": "391f89a3.583ed6",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "c5cbf783.6e13c8",
        "type": "position-config",
        "z": "",
        "name": "",
        "isValide": "true",
        "longitude": "0",
        "latitude": "0",
        "angleType": "deg",
        "timeZoneOffset": 99,
        "timeZoneDST": 0,
        "stateTimeFormat": "3",
        "stateDateFormat": "12"
    },
    {
        "id": "4a57205.9b02ee",
        "type": "server-state-changed",
        "z": "26e3222a.ef8a1e",
        "name": "bedroom dummy trigger turned on",
        "server": "391f89a3.583ed6",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean\\.bedroom_\\w+_trigger",
        "entityidfiltertype": "regex",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 204,
        "y": 80,
        "wires": [
            [
                "79a86965.2affd8",
                "b67591b3.a5f6e"
            ],
            []
        ]
    },
    {
        "id": "79a86965.2affd8",
        "type": "delay",
        "z": "26e3222a.ef8a1e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 460,
        "y": 80,
        "wires": [
            [
                "18655fa8.eeacc"
            ]
        ]
    },
    {
        "id": "c6ada3c9.2809f",
        "type": "api-call-service",
        "z": "26e3222a.ef8a1e",
        "name": "turn off other triggers",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "",
        "data": "{\"entity_id\":\"{{entities}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 960,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "18655fa8.eeacc",
        "type": "api-call-service",
        "z": "26e3222a.ef8a1e",
        "name": "turn off just-triggered",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "",
        "data": "{\"entity_id\":\"{{topic}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 660,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b67591b3.a5f6e",
        "type": "ha-get-entities",
        "z": "26e3222a.ef8a1e",
        "server": "391f89a3.583ed6",
        "name": "get all dummy triggers",
        "rules": [
            {
                "property": "entity_id",
                "logic": "is",
                "value": "input_boolean\\.bedroom_\\w+_trigger",
                "valueType": "re"
            },
            {
                "property": "entity_id",
                "logic": "is_not",
                "value": "topic",
                "valueType": "msg"
            }
        ],
        "output_type": "array",
        "output_empty_results": true,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 500,
        "y": 160,
        "wires": [
            [
                "fdab345c.e57938"
            ]
        ]
    },
    {
        "id": "fdab345c.e57938",
        "type": "function",
        "z": "26e3222a.ef8a1e",
        "name": "filter out just-triggered",
        "func": "entities = [];\nmsg.payload.forEach(e => {\n    entities.push(e.entity_id);\n})\nmsg.entities = entities.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 160,
        "wires": [
            [
                "c6ada3c9.2809f"
            ]
        ]
    },
    {
        "id": "e7006f4f.8e16b",
        "type": "server-events",
        "z": "41dc8be3.68fa24",
        "name": "zigbee event",
        "server": "391f89a3.583ed6",
        "event_type": "zha_event",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "4cafea0f.2adc04"
            ]
        ]
    },
    {
        "id": "4cafea0f.2adc04",
        "type": "switch",
        "z": "41dc8be3.68fa24",
        "name": "is hue remote",
        "property": "payload.event.device_ieee",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "00:17:88:01:03:cb:7c:aa",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "28:6d:97:00:01:0b:fa:7c",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "195dd0fa.1fa76f",
        "type": "switch",
        "z": "940272e0.e7353",
        "name": "",
        "property": "payload.event.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on_short_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_short_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_short_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_short_release",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "aea0917b.51941"
            ],
            [
                "14729e53.457182",
                "4a6ef134.bc3ea"
            ],
            [
                "178ae963.37e2f7"
            ],
            [
                "3ed3ba68.ac16c6"
            ],
            [
                "ecd28444.449b48"
            ]
        ]
    },
    {
        "id": "4f8255ec.d9e7bc",
        "type": "change",
        "z": "52a854ab.b0524c",
        "name": "store brightness variable",
        "rules": [
            {
                "t": "set",
                "p": "room_brightness",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "4abb3438.4febbc",
        "type": "function",
        "z": "52a854ab.b0524c",
        "name": "5 min average brightness",
        "func": "if (msg.reset) {\n    context.set('values', []);\n    return;\n}\n\nvalues = context.get('values');\nif (msg.payload !== null && msg.payload !== undefined) {\n    values.push({'ts': new Date(), 'value': Number(msg.payload)});\n}\nwhile (values.length > 0 && Math.abs(new Date() - values[0].ts) / 1000 / 60 > 5.0) {\n    values.shift()\n}\ncontext.set('values', values);\nmsg.payload = values.reduce((i, v) => v.value + i, 0) / values.length;\nif (values.length === 0) {\n    msg.payload = 4.0;\n}\nnode.status({fill: \"green\", text: String(msg.payload)});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nif (context.get(\"values\") === undefined) {\n    context.set(\"values\", [])\n}",
        "finalize": "",
        "x": 870,
        "y": 120,
        "wires": [
            [
                "4f8255ec.d9e7bc"
            ]
        ]
    },
    {
        "id": "55030368.06f6ac",
        "type": "poll-state",
        "z": "52a854ab.b0524c",
        "name": "poll brightness 15s",
        "server": "391f89a3.583ed6",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "30",
        "updateIntervalUnits": "seconds",
        "outputinitially": true,
        "outputonchanged": false,
        "entity_id": "sensor.aeon_labs_zw100_multisensor_6_luminance",
        "state_type": "num",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "31c1ce4b.eb1aa2"
            ]
        ]
    },
    {
        "id": "29966df6.269052",
        "type": "server-state-changed",
        "z": "52a854ab.b0524c",
        "name": "brightness changed",
        "server": "391f89a3.583ed6",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.aeon_labs_zw100_multisensor_6_luminance",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "num",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "31c1ce4b.eb1aa2"
            ]
        ]
    },
    {
        "id": "7065e329.a6628c",
        "type": "subflow:52a854ab.b0524c",
        "z": "ba8902ff.b6359",
        "name": "Get and Store Room Brightness",
        "env": [],
        "x": 210,
        "y": 60,
        "wires": [
            [
                "6d6aa3d0.1eb3fc"
            ]
        ]
    },
    {
        "id": "96be4a72.7eace8",
        "type": "trigger",
        "z": "ba8902ff.b6359",
        "name": "",
        "op1": "",
        "op2": "1",
        "op1type": "nul",
        "op2type": "str",
        "duration": "30",
        "extend": true,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "4c156b2d.d92d74"
            ]
        ]
    },
    {
        "id": "7b695322.4ff1fc",
        "type": "server-state-changed",
        "z": "ba8902ff.b6359",
        "name": "motion detected",
        "server": "391f89a3.583ed6",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.aeon_labs_zw100_multisensor_6_sensor",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "96be4a72.7eace8",
                "8185fd5c.f22a2"
            ],
            [
                "96be4a72.7eace8"
            ]
        ]
    },
    {
        "id": "8185fd5c.f22a2",
        "type": "api-current-state",
        "z": "ba8902ff.b6359",
        "name": "check if light is off",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "switch.bedroom_light",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "32ff6429.22385c"
            ],
            []
        ]
    },
    {
        "id": "32ff6429.22385c",
        "type": "change",
        "z": "ba8902ff.b6359",
        "name": "get avg room brightness",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "room_brightness",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 240,
        "wires": [
            [
                "bf1499b1.7efde8"
            ]
        ]
    },
    {
        "id": "bf1499b1.7efde8",
        "type": "switch",
        "z": "ba8902ff.b6359",
        "name": "< 3.5 lux",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "3.5",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 860,
        "y": 240,
        "wires": [
            [],
            [
                "89156a0a.748d28"
            ]
        ]
    },
    {
        "id": "89156a0a.748d28",
        "type": "api-current-state",
        "z": "ba8902ff.b6359",
        "name": "check if motion not blocked",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.bedtime_block_motion",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1060,
        "y": 240,
        "wires": [
            [
                "5e4d6a8e.d62114",
                "dbdcda1e.62f588"
            ],
            []
        ]
    },
    {
        "id": "5e4d6a8e.d62114",
        "type": "api-call-service",
        "z": "ba8902ff.b6359",
        "g": "90423b4c.f76568",
        "name": "main light on",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.bedroom_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1350,
        "y": 200,
        "wires": [
            [
                "e1916eea.6ed24",
                "11cc4bc0.752e84"
            ]
        ]
    },
    {
        "id": "11cc4bc0.752e84",
        "type": "api-call-service",
        "z": "ba8902ff.b6359",
        "g": "90423b4c.f76568",
        "name": "arrive home",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.bedroom_arrivehome_trigger",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1350,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1c0db21e.45f37e",
        "type": "api-current-state",
        "z": "ba8902ff.b6359",
        "name": "confirm no motion",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.aeon_labs_zw100_multisensor_6_sensor",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 990,
        "y": 320,
        "wires": [
            [
                "4a5a28ba.37ee28"
            ],
            []
        ]
    },
    {
        "id": "4c156b2d.d92d74",
        "type": "api-current-state",
        "z": "ba8902ff.b6359",
        "name": "check if motion not blocked",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.bedtime_block_motion",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 740,
        "y": 320,
        "wires": [
            [
                "1c0db21e.45f37e"
            ],
            []
        ]
    },
    {
        "id": "a979de5c.73fec",
        "type": "trigger-state",
        "z": "79fa72c5.6e4ccc",
        "name": "tv changes inputs",
        "server": "391f89a3.583ed6",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "media_player.lg_tv",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "762039a8.eed2d8"
            ],
            []
        ]
    },
    {
        "id": "762039a8.eed2d8",
        "type": "switch",
        "z": "79fa72c5.6e4ccc",
        "name": "previous input is not netflix",
        "property": "data.event.old_state.attributes.source",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Netflix",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 520,
        "y": 320,
        "wires": [
            [
                "64bc88ad.36cde8"
            ]
        ]
    },
    {
        "id": "64bc88ad.36cde8",
        "type": "switch",
        "z": "79fa72c5.6e4ccc",
        "name": "new input is netflix",
        "property": "data.event.new_state.attributes.source",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Netflix",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 320,
        "wires": [
            [
                "5f3a0448.3348ec"
            ]
        ]
    },
    {
        "id": "5f3a0448.3348ec",
        "type": "api-current-state",
        "z": "79fa72c5.6e4ccc",
        "name": "floor lamp is on",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.brilliant",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 320,
        "y": 400,
        "wires": [
            [
                "e77dcb.b1b1c238"
            ],
            []
        ]
    },
    {
        "id": "e77dcb.b1b1c238",
        "type": "api-call-service",
        "z": "79fa72c5.6e4ccc",
        "name": "set movie watching scene",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.movie_watching",
        "data": "{\"transition\":10}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 550,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c4eda02d.f8717",
        "type": "api-current-state",
        "z": "79fa72c5.6e4ccc",
        "name": "table lamp is on",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.table_lamp",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 720,
        "y": 520,
        "wires": [
            [
                "4e9a16bb.c9eeb8",
                "ab199401.476678",
                "5258105b.a3eb8"
            ],
            []
        ]
    },
    {
        "id": "7e892cb1.443b74",
        "type": "dsm",
        "z": "79fa72c5.6e4ccc",
        "name": "fade in/out",
        "sm_config": "{\n    \"inputTrigger\": \"topic\",\n    \"stateOutput\": \"current\",\n    \"currentState\": \"stopped\",\n    \n    \"states\": {\n        \"stopped\": {\n            \"start\": \"started\",\n            \"stop\": \"stopped\"\n        },\n        \"started\": {\n            \"fade_in\": \"fade_in\",\n            \"fade_out\": \"fade_out\",\n            \"stop\": \"stopped\"\n        },\n        \"fade_in\": {\n            \"fade_in\": \"fade_in\",\n            \"stop\": \"stopped\"\n        },\n        \"fade_out\": {\n            \"fade_out\": \"fade_out\",\n            \"stop\": \"stopped\"\n        }\n    },\n    \"data\": {\n        \"initialdelay\": 0,\n        \"start\": 0,\n        \"end\": 1,\n        \"duration\": 3000,\n        \"step\": 100,\n        \"unit\": \"Milliseconds\",\n        \"factor\": 1\n    },\n    \"methods\": {\n        \"init\": [\n            \"sm.tick = function(tran, msg) {\",\n            \"   timeout.id = setTimeout(function() {\",\n            \"       sm.text = 'fading ' + sm.data.duration + ' ' + sm.data.unit + ' - ' + sm.data.actual;\",\n            \"       msg.payload = sm.data.actual;\",\n            \"       node.send(msg);\",\n            \"       resume(tran, msg);\",\n            \"   }, sm.data.step * sm.data.factor);\",\n            \"};\",\n            \"sm.factors = {'milliseconds': 1, 'seconds': 1000, 'minutes': 60000};\",\n            \"sta.fill = 'grey';\"\n        ],\n        \"start\": [\n            \"if (typeof msg.payload.initialdelay !== 'undefined') sm.data.initialdelay = msg.payload.initialdelay;\",\n            \"if (typeof msg.payload.start !== 'undefined') sm.data.start = msg.payload.start;\",\n            \"if (typeof msg.payload.end !== 'undefined') sm.data.end = msg.payload.end;\",\n            \"if (typeof msg.payload.duration !== 'undefined') sm.data.duration = msg.payload.duration;\",\n            \"if (typeof msg.payload.step !== 'undefined') sm.data.step = msg.payload.step;\",\n            \"if (typeof msg.payload.unit !== 'undefined') {\",\n            \"   if (sm.factors.hasOwnProperty(msg.payload.unit.toLowerCase())) {\",\n            \"       sm.data.factor = sm.factors[msg.payload.unit.toLowerCase()];\",\n            \"       sm.data.unit = msg.payload.unit;\",\n            \"   } else {\",\n            \"       node.warn('>' + msg.payload.unit + '< unknown, available: Milliseconds, Seconds, Minutes');\",\n            \"   };\",\n            \"} else {\",\n            \"   sm.data.factor = 1;\",\n            \"   sm.data.unit =  'Milliseconds';\",\n            \"};\",\n            \n            \"clearTimeout(timeout.id);\",\n            \"timeout.id = setTimeout(function() {\",\n            \"   sm.data.delta = (sm.data.step / sm.data.duration) * Math.abs(sm.data.start - sm.data.end);\",\n            \"   sm.data.actual = sm.data.start;\",\n            \n            \"   if (sm.data.end > sm.data.start) {\",\n            \"       sm.text = 'fade_in';\",\n            \"       resume('fade_in', msg);\",\n            \"   } else {\",\n            \"       sm.text = 'fade_out';\",\n            \"       resume('fade_out', msg);\",\n            \"   };\",\n            \"}, sm.data.initialdelay * sm.data.factor);\",\n            \"sm.text = 'initial delay ' + sm.data.initialdelay + ' ' + sm.data.unit;\",\n            \"msg.payload = sm.data.start;\",\n            \"node.send(msg);\"\n        ],\n        \"fade_in\": [\n            \"if (sm.data.actual < sm.data.end) {\",\n            \"   sm.data.actual = Math.round((sm.data.actual + sm.data.delta) * 100) / 100;\",\n            \"   if (sm.data.actual > sm.data.end) {sm.data.actual = sm.data.end;};\",\n            \"   sm.tick('fade_in', msg);\",\n            \"} else {\",\n            \"   resume('stop', msg);\",\n            \"};\"\n        ],\n        \"fade_out\": [\n            \"if (sm.data.actual > sm.data.end) {\",\n            \"   sm.data.actual = Math.round((sm.data.actual - sm.data.delta) * 100) / 100;\",\n            \"   if (sm.data.actual < sm.data.end) {sm.data.actual = sm.data.end;};\",\n            \"   sm.tick('fade_out', msg);\",\n            \"} else {\",\n            \"   resume('stop', msg);\",\n            \"};\"\n        ],\n        \"stop\": [\n            \"sm.text = sm.currentState;\",\n            \"clearTimeout(timeout.id);\"\n        ],\n        \"onAfterTransition\": \"output = false;\",\n        \"status\": {\n            \"fill\": {\n                \"get\": \"sm.currentState === 'stopped' ? 'grey': 'green';\"\n            },\n            \"shape\": \"dot\",\n            \"text\": {\n                \"get\": \"sm.text || sm.currentState;\"\n            }\n        }\n    }\n}",
        "x": 1170,
        "y": 460,
        "wires": [
            [
                "2f9cf67d.87054a"
            ]
        ]
    },
    {
        "id": "b3c35ed8.653a8",
        "type": "change",
        "z": "79fa72c5.6e4ccc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"initialdelay\":8,\"start\":10,\"end\":40,\"duration\":10,\"step\":0.25,\"unit\":\"Seconds\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 460,
        "wires": [
            [
                "7e892cb1.443b74"
            ]
        ]
    },
    {
        "id": "2f9cf67d.87054a",
        "type": "api-call-service",
        "z": "79fa72c5.6e4ccc",
        "name": "turn on floor lamp",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": true,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.brilliant",
        "data": "{\"brightness_pct\":\"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1350,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2d82cc50.5398f4",
        "type": "api-call-service",
        "z": "79fa72c5.6e4ccc",
        "name": "fade on table lamp to 65%",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": true,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.table_lamp",
        "data": "{\"brightness_pct\":65, \"transition\": 10}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1380,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "42c1fc33.5a86b4",
        "type": "dsm",
        "z": "79fa72c5.6e4ccc",
        "name": "fade in/out",
        "sm_config": "{\n    \"inputTrigger\": \"topic\",\n    \"stateOutput\": \"current\",\n    \"currentState\": \"stopped\",\n    \n    \"states\": {\n        \"stopped\": {\n            \"start\": \"started\",\n            \"stop\": \"stopped\"\n        },\n        \"started\": {\n            \"fade_in\": \"fade_in\",\n            \"fade_out\": \"fade_out\",\n            \"stop\": \"stopped\"\n        },\n        \"fade_in\": {\n            \"fade_in\": \"fade_in\",\n            \"stop\": \"stopped\"\n        },\n        \"fade_out\": {\n            \"fade_out\": \"fade_out\",\n            \"stop\": \"stopped\"\n        }\n    },\n    \"data\": {\n        \"initialdelay\": 0,\n        \"start\": 0,\n        \"end\": 1,\n        \"duration\": 3000,\n        \"step\": 100,\n        \"unit\": \"Milliseconds\",\n        \"factor\": 1\n    },\n    \"methods\": {\n        \"init\": [\n            \"sm.tick = function(tran, msg) {\",\n            \"   timeout.id = setTimeout(function() {\",\n            \"       sm.text = 'fading ' + sm.data.duration + ' ' + sm.data.unit + ' - ' + sm.data.actual;\",\n            \"       msg.payload = sm.data.actual;\",\n            \"       node.send(msg);\",\n            \"       resume(tran, msg);\",\n            \"   }, sm.data.step * sm.data.factor);\",\n            \"};\",\n            \"sm.factors = {'milliseconds': 1, 'seconds': 1000, 'minutes': 60000};\",\n            \"sta.fill = 'grey';\"\n        ],\n        \"start\": [\n            \"if (typeof msg.payload.initialdelay !== 'undefined') sm.data.initialdelay = msg.payload.initialdelay;\",\n            \"if (typeof msg.payload.start !== 'undefined') sm.data.start = msg.payload.start;\",\n            \"if (typeof msg.payload.end !== 'undefined') sm.data.end = msg.payload.end;\",\n            \"if (typeof msg.payload.duration !== 'undefined') sm.data.duration = msg.payload.duration;\",\n            \"if (typeof msg.payload.step !== 'undefined') sm.data.step = msg.payload.step;\",\n            \"if (typeof msg.payload.unit !== 'undefined') {\",\n            \"   if (sm.factors.hasOwnProperty(msg.payload.unit.toLowerCase())) {\",\n            \"       sm.data.factor = sm.factors[msg.payload.unit.toLowerCase()];\",\n            \"       sm.data.unit = msg.payload.unit;\",\n            \"   } else {\",\n            \"       node.warn('>' + msg.payload.unit + '< unknown, available: Milliseconds, Seconds, Minutes');\",\n            \"   };\",\n            \"} else {\",\n            \"   sm.data.factor = 1;\",\n            \"   sm.data.unit =  'Milliseconds';\",\n            \"};\",\n            \n            \"clearTimeout(timeout.id);\",\n            \"timeout.id = setTimeout(function() {\",\n            \"   sm.data.delta = (sm.data.step / sm.data.duration) * Math.abs(sm.data.start - sm.data.end);\",\n            \"   sm.data.actual = sm.data.start;\",\n            \n            \"   if (sm.data.end > sm.data.start) {\",\n            \"       sm.text = 'fade_in';\",\n            \"       resume('fade_in', msg);\",\n            \"   } else {\",\n            \"       sm.text = 'fade_out';\",\n            \"       resume('fade_out', msg);\",\n            \"   };\",\n            \"}, sm.data.initialdelay * sm.data.factor);\",\n            \"sm.text = 'initial delay ' + sm.data.initialdelay + ' ' + sm.data.unit;\",\n            \"msg.payload = sm.data.start;\",\n            \"node.send(msg);\"\n        ],\n        \"fade_in\": [\n            \"if (sm.data.actual < sm.data.end) {\",\n            \"   sm.data.actual = Math.round((sm.data.actual + sm.data.delta) * 100) / 100;\",\n            \"   if (sm.data.actual > sm.data.end) {sm.data.actual = sm.data.end;};\",\n            \"   sm.tick('fade_in', msg);\",\n            \"} else {\",\n            \"   resume('stop', msg);\",\n            \"};\"\n        ],\n        \"fade_out\": [\n            \"if (sm.data.actual > sm.data.end) {\",\n            \"   sm.data.actual = Math.round((sm.data.actual - sm.data.delta) * 100) / 100;\",\n            \"   if (sm.data.actual < sm.data.end) {sm.data.actual = sm.data.end;};\",\n            \"   sm.tick('fade_out', msg);\",\n            \"} else {\",\n            \"   resume('stop', msg);\",\n            \"};\"\n        ],\n        \"stop\": [\n            \"sm.text = sm.currentState;\",\n            \"clearTimeout(timeout.id);\"\n        ],\n        \"onAfterTransition\": \"output = false;\",\n        \"status\": {\n            \"fill\": {\n                \"get\": \"sm.currentState === 'stopped' ? 'grey': 'green';\"\n            },\n            \"shape\": \"dot\",\n            \"text\": {\n                \"get\": \"sm.text || sm.currentState;\"\n            }\n        }\n    }\n}",
        "x": 1250,
        "y": 580,
        "wires": [
            [
                "b7ede1fc.b6954"
            ]
        ]
    },
    {
        "id": "b7ede1fc.b6954",
        "type": "api-call-service",
        "z": "79fa72c5.6e4ccc",
        "name": "turn on overhead lights",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.overhead_lights",
        "data": "{\"brightness_pct\":\"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1450,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "780f660f.1af758",
        "type": "server-state-changed",
        "z": "5d61e676.b8f7c8",
        "name": "front door open",
        "server": "391f89a3.583ed6",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.front_door",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 260,
        "y": 480,
        "wires": [
            [
                "124e50ef.46cf8f",
                "e1054d9.b6c45b",
                "ac52ff7e.67b32"
            ],
            []
        ]
    },
    {
        "id": "124e50ef.46cf8f",
        "type": "api-current-state",
        "z": "5d61e676.b8f7c8",
        "name": "sun",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "sun.sun",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 450,
        "y": 480,
        "wires": [
            [
                "fedc85b9.ba0938"
            ]
        ]
    },
    {
        "id": "f5323bbd.6bafa8",
        "type": "api-call-service",
        "z": "5d61e676.b8f7c8",
        "name": "turn on hallway light",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.hallway_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1520,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "e1054d9.b6c45b",
        "type": "api-current-state",
        "z": "5d61e676.b8f7c8",
        "name": "bedroom",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "sensor.aeon_labs_zw100_multisensor_6_luminance",
        "state_type": "num",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 460,
        "y": 540,
        "wires": [
            [
                "8f436e9a.f7d8"
            ]
        ]
    },
    {
        "id": "ac52ff7e.67b32",
        "type": "api-current-state",
        "z": "5d61e676.b8f7c8",
        "name": "bedroom light is on",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "switch.bedroom_light",
        "state_type": "habool",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 490,
        "y": 600,
        "wires": [
            [
                "98efc42.99d7838"
            ]
        ]
    },
    {
        "id": "98efc42.99d7838",
        "type": "BooleanLogicUltimate",
        "z": "5d61e676.b8f7c8",
        "name": "OR",
        "filtertrue": "onlytrue",
        "persist": false,
        "sInitializeWith": "WaitForPayload",
        "triggertopic": "trigger",
        "outputtriggeredby": "all",
        "inputCount": "3",
        "topic": "result",
        "x": 810,
        "y": 540,
        "wires": [
            [],
            [
                "c2ced6fc.1f6f28",
                "b082f467.6d74b8"
            ],
            []
        ]
    },
    {
        "id": "fedc85b9.ba0938",
        "type": "change",
        "z": "5d61e676.b8f7c8",
        "name": "is set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload = \"below_horizon\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 480,
        "wires": [
            [
                "98efc42.99d7838"
            ]
        ]
    },
    {
        "id": "8f436e9a.f7d8",
        "type": "change",
        "z": "5d61e676.b8f7c8",
        "name": "is dark",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload = 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 540,
        "wires": [
            [
                "98efc42.99d7838"
            ]
        ]
    },
    {
        "id": "14729e53.457182",
        "type": "api-call-service",
        "z": "940272e0.e7353",
        "name": "enable motion block",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.bedtime_block_motion",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 780,
        "y": 220,
        "wires": [
            [
                "3fb15b3.ab24ba4"
            ]
        ]
    },
    {
        "id": "3fb15b3.ab24ba4",
        "type": "delay",
        "z": "940272e0.e7353",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 970,
        "y": 220,
        "wires": [
            [
                "cbaffdc4.8014e"
            ]
        ]
    },
    {
        "id": "cbaffdc4.8014e",
        "type": "api-call-service",
        "z": "940272e0.e7353",
        "name": "disable motion block",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.bedtime_block_motion",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1160,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e1916eea.6ed24",
        "type": "api-call-service",
        "z": "ba8902ff.b6359",
        "g": "90423b4c.f76568",
        "name": "bedside light on",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.bedside_lamp",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1340,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6d6aa3d0.1eb3fc",
        "type": "function",
        "z": "ba8902ff.b6359",
        "name": "Average",
        "func": "node.status({fill: \"green\", text: msg.payload})",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 375,
        "y": 60,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-sun-o",
        "l": false
    },
    {
        "id": "dbdcda1e.62f588",
        "type": "time-range-switch",
        "z": "ba8902ff.b6359",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "00:00",
        "endTime": "10:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 1090,
        "y": 20,
        "wires": [
            [
                "cd3609d6.eb20c8"
            ],
            []
        ],
        "icon": "font-awesome/fa-clock-o"
    },
    {
        "id": "cd3609d6.eb20c8",
        "type": "api-current-state",
        "z": "ba8902ff.b6359",
        "name": "tv is off",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "media_player.lg_tv",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1260,
        "y": 20,
        "wires": [
            [
                "6be8cd16.229134"
            ],
            []
        ]
    },
    {
        "id": "6be8cd16.229134",
        "type": "api-current-state",
        "z": "ba8902ff.b6359",
        "name": "overhead lights off",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.overhead_lights",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1450,
        "y": 20,
        "wires": [
            [
                "6a780dc.41d93f4"
            ],
            []
        ]
    },
    {
        "id": "6e1109c2.b67758",
        "type": "api-call-service",
        "z": "ba8902ff.b6359",
        "name": "turn off hallway",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.hallway_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1860,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "59247e62.c82be",
        "type": "api-get-history",
        "z": "52a854ab.b0524c",
        "name": "",
        "server": "391f89a3.583ed6",
        "startdate": "",
        "enddate": "",
        "entityid": "switch.bedroom_light",
        "entityidtype": "is",
        "useRelativeTime": true,
        "relativeTime": "10 seconds",
        "flatten": true,
        "output_type": "array",
        "output_location_type": "msg",
        "output_location": "history",
        "x": 490,
        "y": 140,
        "wires": [
            [
                "25322f8e.fa877"
            ]
        ]
    },
    {
        "id": "25322f8e.fa877",
        "type": "switch",
        "z": "52a854ab.b0524c",
        "name": "",
        "property": "history.state",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "cont",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 140,
        "wires": [
            [],
            [
                "4abb3438.4febbc"
            ]
        ]
    },
    {
        "id": "31c1ce4b.eb1aa2",
        "type": "api-current-state",
        "z": "52a854ab.b0524c",
        "name": "sensor ready",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "ready",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "zwave.aeon_labs_zw100_multisensor_6",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "59247e62.c82be"
            ],
            []
        ]
    },
    {
        "id": "3ed3ba68.ac16c6",
        "type": "api-call-service",
        "z": "940272e0.e7353",
        "name": "",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.bedside_lamp",
        "data": "{ \"brightness_step_pct\": 10 }",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 770,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "ecd28444.449b48",
        "type": "api-call-service",
        "z": "940272e0.e7353",
        "name": "",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.bedside_lamp",
        "data": "{ \"brightness_step_pct\": -10 }",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 770,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "bd529406.6df2c8",
        "type": "function",
        "z": "5d61e676.b8f7c8",
        "name": "not home",
        "func": "for (var idx in msg.payload) {\n    if (msg.payload[idx].state == \"not_home\") {\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1320,
        "y": 540,
        "wires": [
            [
                "f5323bbd.6bafa8"
            ]
        ]
    },
    {
        "id": "f80da0a8.6a63c",
        "type": "subflow:940272e0.e7353",
        "z": "ba8902ff.b6359",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "4e9a16bb.c9eeb8",
        "type": "api-current-state",
        "z": "79fa72c5.6e4ccc",
        "name": "floor lamp is off",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.brilliant",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 720,
        "y": 460,
        "wires": [
            [
                "b3c35ed8.653a8"
            ],
            []
        ]
    },
    {
        "id": "ab199401.476678",
        "type": "switch",
        "z": "79fa72c5.6e4ccc",
        "name": "dimmer than 65%",
        "property": "data.attribute.brightness",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "166",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 520,
        "wires": [
            [
                "2d82cc50.5398f4"
            ]
        ]
    },
    {
        "id": "5258105b.a3eb8",
        "type": "api-current-state",
        "z": "79fa72c5.6e4ccc",
        "name": "overhead lights",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.overhead_lights",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 720,
        "y": 580,
        "wires": [
            [
                "18aef0a6.56052f"
            ]
        ]
    },
    {
        "id": "18aef0a6.56052f",
        "type": "switch",
        "z": "79fa72c5.6e4ccc",
        "name": "dimmer than 64",
        "property": "data.attributes.brightness",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "64",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 900,
        "y": 580,
        "wires": [
            [],
            [
                "c398dbcc.6eb828"
            ]
        ]
    },
    {
        "id": "c398dbcc.6eb828",
        "type": "function",
        "z": "79fa72c5.6e4ccc",
        "name": "set fade params",
        "func": "msg.payload = {\n    \"initialdelay\": 2,\n    \"start\": msg.data.attributes.brightness,\n    \"end\": 25,\n    \"duration\": 10,\n    \"step\": 0.25,\n    \"unit\": \"Seconds\",\n}\nmsg.topic = 'start';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 580,
        "wires": [
            [
                "42c1fc33.5a86b4"
            ]
        ]
    },
    {
        "id": "7335595c.a98148",
        "type": "trigger-state",
        "z": "eddddd53.6ebb3",
        "name": "tv changes inputs",
        "server": "391f89a3.583ed6",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "media_player.lg_tv",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "402bbaf2.306bf4",
                "74fab16c.3af9e"
            ],
            []
        ]
    },
    {
        "id": "402bbaf2.306bf4",
        "type": "switch",
        "z": "eddddd53.6ebb3",
        "name": "TV was on",
        "property": "data.event.old_state.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "81069164.afd01"
            ]
        ]
    },
    {
        "id": "81069164.afd01",
        "type": "switch",
        "z": "eddddd53.6ebb3",
        "name": "TV is now off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "74fab16c.3af9e",
        "type": "switch",
        "z": "eddddd53.6ebb3",
        "name": "TV was off",
        "property": "data.event.old_state.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "8b8fa6fd.5c6878"
            ]
        ]
    },
    {
        "id": "8b8fa6fd.5c6878",
        "type": "switch",
        "z": "eddddd53.6ebb3",
        "name": "TV is now on",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "61a1e761.280e28",
        "type": "subflow:eddddd53.6ebb3",
        "z": "79fa72c5.6e4ccc",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "c4eda02d.f8717"
            ],
            [
                "5d5407e7.978418"
            ]
        ]
    },
    {
        "id": "5d5407e7.978418",
        "type": "api-current-state",
        "z": "79fa72c5.6e4ccc",
        "name": "window shade",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "cover.living_room_window",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 400,
        "y": 660,
        "wires": [
            [
                "ba05832f.daadf"
            ]
        ]
    },
    {
        "id": "ba05832f.daadf",
        "type": "switch",
        "z": "79fa72c5.6e4ccc",
        "name": "open more than 40%",
        "property": "data.attributes.current_position",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "40",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 600,
        "y": 660,
        "wires": [
            [
                "55cc39b2.fba9a8"
            ]
        ]
    },
    {
        "id": "a5f20c6.6f252f",
        "type": "time-inject",
        "z": "79fa72c5.6e4ccc",
        "name": "sunrise start",
        "nameInt": " sunrise = timestamp",
        "positionConfig": "c5cbf783.6e13c8",
        "props": [
            {
                "p": "",
                "pt": "msgPayload",
                "v": "",
                "vt": "date",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": true,
                "days": ""
            },
            {
                "p": "",
                "pt": "msgTopic",
                "v": "",
                "vt": "str",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": false,
                "days": ""
            }
        ],
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "sunrise",
        "timeType": "pdsTime",
        "offset": 0,
        "offsetType": "none",
        "offsetMultiplier": 60000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "x": 310,
        "y": 820,
        "wires": [
            [
                "343e9811.212ac8"
            ]
        ]
    },
    {
        "id": "343e9811.212ac8",
        "type": "api-current-state",
        "z": "79fa72c5.6e4ccc",
        "name": "check blind block",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.block_automatic_blinds",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 490,
        "y": 820,
        "wires": [
            [
                "709b926b.b3d5dc"
            ],
            []
        ]
    },
    {
        "id": "709b926b.b3d5dc",
        "type": "api-call-service",
        "z": "79fa72c5.6e4ccc",
        "name": "open blinds 80%",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "cover",
        "service": "set_cover_position",
        "entityId": "cover.living_room_window",
        "data": "{\"position\": 80}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 690,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "7dad3d56.8b2254",
        "type": "time-inject",
        "z": "79fa72c5.6e4ccc",
        "name": "sunset start",
        "nameInt": " sunset start = timestamp",
        "positionConfig": "c5cbf783.6e13c8",
        "props": [
            {
                "p": "",
                "pt": "msgPayload",
                "v": "",
                "vt": "date",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": true,
                "days": ""
            },
            {
                "p": "",
                "pt": "msgTopic",
                "v": "",
                "vt": "str",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": false,
                "days": ""
            }
        ],
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "sunsetStart",
        "timeType": "pdsTime",
        "offset": 0,
        "offsetType": "none",
        "offsetMultiplier": 60000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "x": 310,
        "y": 880,
        "wires": [
            [
                "55d17c62.72dfa4"
            ]
        ]
    },
    {
        "id": "55d17c62.72dfa4",
        "type": "api-current-state",
        "z": "79fa72c5.6e4ccc",
        "name": "check blind block",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.block_automatic_blinds",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 490,
        "y": 880,
        "wires": [
            [
                "cb4c202f.4203b"
            ],
            []
        ]
    },
    {
        "id": "89a6e858.8c5038",
        "type": "api-call-service",
        "z": "79fa72c5.6e4ccc",
        "name": "close blinds",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "cover",
        "service": "close_cover",
        "entityId": "cover.living_room_window",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1130,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "55cc39b2.fba9a8",
        "type": "api-current-state",
        "z": "79fa72c5.6e4ccc",
        "name": "check blind block",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.block_automatic_blinds",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 810,
        "y": 660,
        "wires": [
            [
                "5bcfe5f7.66995c"
            ],
            []
        ]
    },
    {
        "id": "189b273.b5069d9",
        "type": "subflow:26e3222a.ef8a1e",
        "z": "ba8902ff.b6359",
        "x": 180,
        "y": 140,
        "wires": []
    },
    {
        "id": "4a5a28ba.37ee28",
        "type": "api-current-state",
        "z": "ba8902ff.b6359",
        "name": "check if light is off",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "switch.bedroom_light",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1210,
        "y": 360,
        "wires": [
            [],
            [
                "564bbcb4.edcae4"
            ]
        ]
    },
    {
        "id": "cc5073bf.2be5",
        "type": "api-call-service",
        "z": "79fa72c5.6e4ccc",
        "name": "close blinds 40%",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "cover",
        "service": "set_cover_position",
        "entityId": "cover.living_room_window",
        "data": "{\"position\": 40}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1410,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "373367d7.8908d8",
        "type": "subflow:41dc8be3.68fa24",
        "z": "ba8902ff.b6359",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "96be4a72.7eace8",
                "f80da0a8.6a63c"
            ],
            [
                "137eac46.d56f24"
            ]
        ]
    },
    {
        "id": "80bb5cec.59a9",
        "type": "api-call-service",
        "z": "627ae423.cdc09c",
        "name": "good night",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.bedroom_goodnight_trigger",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 450,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "15002ff0.6ecc9",
        "type": "api-call-service",
        "z": "627ae423.cdc09c",
        "name": "main light off",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": true,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.bedroom_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 450,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "564bbcb4.edcae4",
        "type": "subflow:627ae423.cdc09c",
        "z": "ba8902ff.b6359",
        "name": "",
        "x": 1410,
        "y": 360,
        "wires": []
    },
    {
        "id": "4a6ef134.bc3ea",
        "type": "subflow:627ae423.cdc09c",
        "z": "940272e0.e7353",
        "name": "",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "9f22c9b1.175368",
        "type": "api-call-service",
        "z": "d172023.57b02",
        "name": "bedtime",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.bedroom_bedtime_trigger",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 460,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "fa2b0ad0.4329e8",
        "type": "api-call-service",
        "z": "d172023.57b02",
        "name": "main light off",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": true,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.bedroom_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 470,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "178ae963.37e2f7",
        "type": "subflow:d172023.57b02",
        "z": "940272e0.e7353",
        "name": "",
        "x": 750,
        "y": 380,
        "wires": []
    },
    {
        "id": "519fa747.834e78",
        "type": "api-call-service",
        "z": "e57f4074.d8fa3",
        "name": "arrive home",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.bedroom_arrivehome_trigger",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 510,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "75645783.947148",
        "type": "api-call-service",
        "z": "e57f4074.d8fa3",
        "name": "main light on",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.bedroom_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 510,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "43ba5ccf.3fc274",
        "type": "api-call-service",
        "z": "e57f4074.d8fa3",
        "name": "bedside light on",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.bedside_lamp",
        "data": "{\"brightness_step_pct\":1}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 520,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "aea0917b.51941",
        "type": "subflow:e57f4074.d8fa3",
        "z": "940272e0.e7353",
        "name": "",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "e6a8c804.a31338",
        "type": "api-current-state",
        "z": "72c4b6a2.30e0a8",
        "name": "check if light is on",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "switch.bedroom_light",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 390,
        "y": 100,
        "wires": [
            [
                "fd562c7b.ee553"
            ],
            [
                "5f2359f3.20b9b8"
            ]
        ]
    },
    {
        "id": "fd562c7b.ee553",
        "type": "subflow:d172023.57b02",
        "z": "72c4b6a2.30e0a8",
        "name": "",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "5f2359f3.20b9b8",
        "type": "api-current-state",
        "z": "72c4b6a2.30e0a8",
        "name": "check if bedside lamp is on",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.bedside_lamp",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 680,
        "y": 120,
        "wires": [
            [
                "18b2a14e.9d68ef"
            ],
            [
                "26855d8b.a48c52"
            ]
        ]
    },
    {
        "id": "18b2a14e.9d68ef",
        "type": "subflow:627ae423.cdc09c",
        "z": "72c4b6a2.30e0a8",
        "name": "",
        "x": 940,
        "y": 100,
        "wires": []
    },
    {
        "id": "26855d8b.a48c52",
        "type": "subflow:d172023.57b02",
        "z": "72c4b6a2.30e0a8",
        "name": "",
        "x": 930,
        "y": 140,
        "wires": []
    },
    {
        "id": "2030783c.ef0758",
        "type": "switch",
        "z": "72c4b6a2.30e0a8",
        "name": "check event type",
        "property": "payload.event.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "button_single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "button_double",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "e6a8c804.a31338"
            ],
            [
                "643370c3.5295e"
            ]
        ]
    },
    {
        "id": "137eac46.d56f24",
        "type": "subflow:72c4b6a2.30e0a8",
        "z": "ba8902ff.b6359",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "643370c3.5295e",
        "type": "subflow:e57f4074.d8fa3",
        "z": "72c4b6a2.30e0a8",
        "name": "",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "c2ced6fc.1f6f28",
        "type": "api-get-history",
        "z": "5d61e676.b8f7c8",
        "name": "presence last 2 mins",
        "server": "391f89a3.583ed6",
        "startdate": "",
        "enddate": "",
        "entityid": "person",
        "entityidtype": "includes",
        "useRelativeTime": true,
        "relativeTime": "2 minutes",
        "flatten": true,
        "output_type": "array",
        "output_location_type": "msg",
        "output_location": "payload",
        "x": 1120,
        "y": 540,
        "wires": [
            [
                "bd529406.6df2c8"
            ]
        ]
    },
    {
        "id": "5bcfe5f7.66995c",
        "type": "api-current-state",
        "z": "79fa72c5.6e4ccc",
        "name": "window is closed",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.living_room_window",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1010,
        "y": 660,
        "wires": [
            [
                "54b3d66e.68b148"
            ],
            []
        ]
    },
    {
        "id": "cb4c202f.4203b",
        "type": "api-current-state",
        "z": "79fa72c5.6e4ccc",
        "name": "window is closed",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.living_room_window",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 690,
        "y": 880,
        "wires": [
            [
                "89a6e858.8c5038"
            ],
            [
                "6779b7bf.2dfc28"
            ]
        ]
    },
    {
        "id": "54b3d66e.68b148",
        "type": "within-time-switch",
        "z": "79fa72c5.6e4ccc",
        "name": "daylight hours",
        "nameInt": "",
        "positionConfig": "c5cbf783.6e13c8",
        "startTime": "sunrise",
        "startTimeType": "pdsTime",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "endTime": "goldenHourDuskStart",
        "endTimeType": "pdsTime",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "entered",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "entered",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "tsCompare": "0",
        "x": 1200,
        "y": 660,
        "wires": [
            [
                "cc5073bf.2be5"
            ],
            [
                "5c31cde0.bd2f34"
            ]
        ]
    },
    {
        "id": "5c31cde0.bd2f34",
        "type": "api-call-service",
        "z": "79fa72c5.6e4ccc",
        "name": "close blinds",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "cover",
        "service": "close_cover",
        "entityId": "cover.living_room_window",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1390,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "4365276c.14da98",
        "type": "server-state-changed",
        "z": "79fa72c5.6e4ccc",
        "name": "Guest Mode Toggled",
        "server": "391f89a3.583ed6",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.guest_mode",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 300,
        "y": 980,
        "wires": [
            [
                "dee738a0.22aad8"
            ],
            [
                "f3649d77.a8add"
            ]
        ]
    },
    {
        "id": "dee738a0.22aad8",
        "type": "api-call-service",
        "z": "79fa72c5.6e4ccc",
        "name": "turn on blind block",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.block_automatic_blinds",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 510,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "f3649d77.a8add",
        "type": "api-call-service",
        "z": "79fa72c5.6e4ccc",
        "name": "turn off blind block",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.block_automatic_blinds",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 510,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "6a780dc.41d93f4",
        "type": "api-current-state",
        "z": "ba8902ff.b6359",
        "name": "guest mode is off",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.guest_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1670,
        "y": 20,
        "wires": [
            [
                "6e1109c2.b67758"
            ],
            []
        ]
    },
    {
        "id": "d8a3a07c.8d65c",
        "type": "server-state-changed",
        "z": "5d61e676.b8f7c8",
        "name": "someone leaves home",
        "server": "391f89a3.583ed6",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "person\\..*",
        "entityidfiltertype": "regex",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "not_home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 280,
        "y": 780,
        "wires": [
            [
                "3b1fd5e0.e1f48a"
            ],
            []
        ]
    },
    {
        "id": "58ed0332.c37c1c",
        "type": "api-current-state",
        "z": "5d61e676.b8f7c8",
        "name": "guest mode off",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.guest_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 860,
        "y": 780,
        "wires": [
            [
                "36caf1dd.765e2e",
                "16f5801b.bcc6a"
            ],
            []
        ]
    },
    {
        "id": "36caf1dd.765e2e",
        "type": "api-call-service",
        "z": "5d61e676.b8f7c8",
        "name": "turn off living room lights",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.brilliant, light.overhead_lights, light.table_lamp",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1090,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "16f5801b.bcc6a",
        "type": "api-call-service",
        "z": "5d61e676.b8f7c8",
        "name": "turn off hallway light",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.hallway_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1080,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "b082f467.6d74b8",
        "type": "api-current-state",
        "z": "5d61e676.b8f7c8",
        "name": "guest mode on",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.guest_mode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 1100,
        "y": 480,
        "wires": [
            [
                "f5323bbd.6bafa8"
            ],
            []
        ]
    },
    {
        "id": "6779b7bf.2dfc28",
        "type": "api-call-service",
        "z": "79fa72c5.6e4ccc",
        "name": "notify that window is open",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "mobile_app_blerb11p",
        "entityId": "",
        "data": "{\"message\":\"The window shade was not automatically closed because the window is still open.\",\"title\":\"Window Left Open\",\"data\":{\"push\":{\"category\":\"window\"}}}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1060,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "561e66cb.ce93b8",
        "type": "server-events",
        "z": "79fa72c5.6e4ccc",
        "name": "Close Shades Notification",
        "server": "391f89a3.583ed6",
        "event_type": "ios.notification_action_fired",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "x": 710,
        "y": 760,
        "wires": [
            [
                "5c512e8.c8b60d"
            ]
        ]
    },
    {
        "id": "5c512e8.c8b60d",
        "type": "switch",
        "z": "79fa72c5.6e4ccc",
        "name": "",
        "property": "payload.event.actionName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CLOSE_SHADES",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 760,
        "wires": [
            [
                "89a6e858.8c5038"
            ]
        ]
    },
    {
        "id": "3b1fd5e0.e1f48a",
        "type": "api-current-state",
        "z": "5d61e676.b8f7c8",
        "name": "gautam not home",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "not_home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "person.gautam",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 490,
        "y": 780,
        "wires": [
            [
                "9ff4b4de.b161f8"
            ],
            []
        ]
    },
    {
        "id": "9ff4b4de.b161f8",
        "type": "api-current-state",
        "z": "5d61e676.b8f7c8",
        "name": "jason not home",
        "server": "391f89a3.583ed6",
        "version": 1,
        "outputs": 2,
        "halt_if": "not_home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "person.jason",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 680,
        "y": 780,
        "wires": [
            [
                "58ed0332.c37c1c"
            ],
            []
        ]
    },
    {
        "id": "f99e9d07.0a5a9",
        "type": "api-call-service",
        "z": "ba8902ff.b6359",
        "name": "disable motion block",
        "server": "391f89a3.583ed6",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.bedtime_block_motion",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 380,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "c1e0e47d.cde4a8",
        "type": "time-inject",
        "z": "ba8902ff.b6359",
        "name": "noon + 2 hours",
        "nameInt": " solar noon = timestamp",
        "positionConfig": "c5cbf783.6e13c8",
        "props": [
            {
                "p": "",
                "pt": "msgPayload",
                "v": "",
                "vt": "date",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": true,
                "days": ""
            },
            {
                "p": "",
                "pt": "msgTopic",
                "v": "",
                "vt": "str",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": false,
                "days": ""
            }
        ],
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "solarNoon",
        "timeType": "pdsTime",
        "offset": "2",
        "offsetType": "num",
        "offsetMultiplier": 3600000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "f99e9d07.0a5a9"
            ]
        ]
    }
]